doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Gaming
        link(rel="stylesheet", href="./sass/css/style.css")
        link(rel="stylesheet", href="./reset.css")
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css' integrity='sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==' crossorigin='anonymous' referrerpolicy='no-referrer')
    body
        .container
            header
                .navbar
                    input#check(type='checkbox')
                    label.checkbtn(for='check')
                        i.fas.fa-bars
                    .navbar-logo
                        a(href="#")
                            img(src="./image/logo.png" alt="logo")
                    .navbar-search
                        form
                            input(type="text", id="input-search")
                            label(for="input-search") ấn vào đây bro
                    nav.navbar-list
                        ul
                            li
                                a(href="#") Home  
                            li
                                a(href="#") Browse  
                            li
                                a(href="#") Details  
                            li
                                a(href="#") Streams 
                            .List-button
                                .button Profile
            .containers-child 
                main.child-secone 
                    .banner-head 
                        h6 Welcome To Cyborg 
                        h4
                            em BROWSE 
                            |  OUR POPULAR GAMES HERE
                        .head-button 
                            .btn Browse Now
                section.most-popular
                    .popular-iteam 
                        .iteam-box
                            img(src="./image/popular-01.jpg" alt='popular-01')
                            .box-info
                                .head-button 
                                    .btn Discover Popular
                        .iteam-box
                            img(src="./image/popular-02.jpg" alt='popular-02')
                        .iteam-box
                            img(src="./image/popular-03.jpg" alt='popular-03')
                        .iteam-box
                            img(src="./image/popular-04.jpg" alt='popular-04')
                        .iteam-box
                           img(src="./image/popular-05.jpg" alt='popular-05')
                        .iteam-box
                            img(src="./image/popular-06.jpg" alt='popular-06')
                section.library 
                    .library-gaming
                        h1 
                            em Your Gaming 
                            |   Library
                        .gaming-one 
                            ul 
                                li 
                                   img(src="./image/game-01.jpg", alt="game 01") 
                                li 
                                    h3 Dota 2
                                    span Sandbox
                                li 
                                    h3 Date Added
                                    span 1/1/2023
                                li 
                                    h3 Hours Played
                                    span 634 H 22 Mins
                                li 
                                    h3 Currently
                                    span Downloaded
                                li 
                                    .head-button 
                                        .btn Donwloaded
                        .gaming-two 
                            ul 
                                li 
                                   img(src="./image/game-02.jpg", alt="game 02") 
                                li 
                                    h3 Dota 2
                                    span Sandbox
                                li 
                                    h3 Date Added
                                    span 1/1/2023
                                li 
                                    h3 Hours Played
                                    span 634 H 22 Mins
                                li 
                                    h3 Currently
                                    span Downloaded
                                li 
                                    .head-button 
                                        .btn Donwload
                        .gaming-three
                            ul 
                                li 
                                   img(src="./image/game-03.jpg", alt="game 03") 
                                li 
                                    h3 Dota 2
                                    span Sandbox
                                li 
                                    h3 Date Added
                                    span 1/1/2023
                                li 
                                    h3 Hours Played
                                    span 634 H 22 Mins
                                li 
                                    h3 Currently
                                    span Downloaded
                                li 
                                    .head-button 
                                        .btn Donwloaded
                    .gaming-bt
                        .head-button 
                            .btn View Your Library
                section.Fortnite-details
                    .details-container 
                        .box-head
                            .iteam-box-one 
                                .box-one-one
                                    h4 Fortnite
                                    span Sandbox
                                ul 
                                    li 
                                        i.fa-sharp.fa-solid.fa-star 
                                        |   4.8
                                    li
                                        i.fa-solid.fa-download
                                        |   2.3M
                            .iteam-box-two
                                ul 
                                    li 
                                        i.fa-sharp.fa-solid.fa-star 
                                        |   4.8
                                    li 
                                        i.fa-solid.fa-download 
                                        |   2.3M
                                    li 
                                        i.fa-solid.fa-gamepad 
                                        |   Action
                                    li
                                        i.fa-solid.fa-hard-drive 
                                        |   36GB
                        .box-body
                            img(src="./image/details-01.jpg", alt="details-01") 
                            img(src="./image/details-02.jpg", alt="details-02") 
                            img(src="./image/details-03.jpg", alt="details-03") 
                        p
                            |   Cyborg Gaming is free HTML CSS website template provided by TemplateMo. This is Bootstrap v5.2.0 layout. You can make a 
                            em small contribution via PayPal
                            |   to info [at] templatemo.com and thank you for supporting. If you want to get the PSD source files, please contact us. Lorem ipsum dolor sit consectetur es dispic dipiscingei elit, sed doers eiusmod lisum hored tempor.
                        .btn Download Fortnite Now!
                article.live-stream 
                    .stream-box
                        .box-iteamm
                            img(src="./image/service-01.jpg", alt="service01")
                            h2 Go to Your Profile
                            p Cyborg Gaming is free HTML CSS website template provided by TemplateMo. This is Bootstrap v5.2.0 layout.
                    .stream-box
                        .box-iteamm
                            img(src="./image/service-02.jpg", alt="service01")
                            h2 Go to Your Profile
                            p Cyborg Gaming is free HTML CSS website template provided by TemplateMo. This is Bootstrap v5.2.0 layout.
                    .stream-box
                        .box-iteamm
                            img(src="./image/service-03.jpg", alt="service01")
                            h2 Go to Your Profile
                            p Cyborg Gaming is free HTML CSS website template provided by TemplateMo. This is Bootstrap v5.2.0 layout.
            footer
                p 
                    | Copyright © 2036 Cyborg Gaming Company. All rights reserved.
                    br
                    | Design: TemplateMo Distributed By ThemeWagon
        


                        
                    


                            
            

                    

                
